body {
	background-color: #6DC4D9;
	font-family: 'Muli', sans-serif;
}

#logoHeader {
	float: left;
	background: url('../img/GH_icon.svg') no-repeat left top;
	width: 67px;
	height: 66px;
	margin: 16px 8px 8px 16px;
	border: none;
}

#logoHeader:hover, #logoHeader:focus {
	background-position-x: -97px;
}

#grandpaHedgehog > a {
	text-decoration: none;
	color: #FFFFFF;
}

#grandpaHedgehog > a:hover, #grandpaHedgehog > a:focus {
	color: #DDDDDD;
}

h1 {
	font-size: 2.5em;
	color: #FFFFFF;
	float: left;
	margin: 16px 8px 8px 8px;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

p {
	color: #FFFFFF;
}

.navbar {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	position: center;
	margin-right: 8px;
	text-align: center;
	-webkit-margin-before: 0px;
}

.navbar-item {
	position: relative;
	display: block;
	float: right;
}

.navbar-item > a {
	text-decoration: none;
	color: #FFFFFF;
	position: relative;
	display: block;
	border-color: #6DC4D9;
	border-style: solid;
	border-width: thin;
	margin-top: 20px;
	padding: 16px 16px 16px 16px;
}

.navbar-item > a:hover, .navbar-item > a:focus {
	text-decoration: none;
	border-color: #FFFFFF;
}

#navDivider {
	clear: both;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
	padding-left: 1em;
	height: 1px;
	/* Line: */
	border: 7px solid #6DC4D9;
	box-shadow: 0 3px 2px 1px #59A5B8;
}

#firstButton {
	clear: both;
	margin-top: 16px;
	color: #797979;
	visibility: hidden;
	background-color: #ffffff;
	box-shadow: 0.25em 0.25em 0.3em #4E7284;
}

#secondButton {
	clear: both;
	margin-top: 16px;
	color: #797979;
	visibility: hidden;
	background-color: #ffffff;
	box-shadow: 0.25em 0.25em 0.3em #4E7284;
}

.chatbot_responses {
	clear: both;
	text-align: center;
	margin-top: 20px;
}

.response {
	clear: both;
	float: right;
	list-style: none;
	border: 10px solid pink;
	color: #797979;
	padding-right: 5px;
	margin-top: 8px;
	border-image: url(../img/chatRequest.svg) 13 24 fill stretch;
	text-align: right;
}

.message {
	clear: both;
	float: left;
	list-style: none;
	color: #888888;
	border: 10px solid pink;
	padding-left: 5px;
	margin-top: 8px;
	border-image: url(../img/chatResponse.svg) 13 24 fill stretch;
}

.chatbot_conversation {
	margin-left: 20%;
	margin-right: 20%;
	max-width: 800px;
	-webkit-padding-start: 0px;
}

.chatbot_list {
	-webkit-padding-start: 0px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.myWorkItems {
	list-style: none;
}

.myWorkItems >li > a {
	text-decoration: none;
	color: #FFFFFF;
	position: relative;
	display: block;
	border-color: #6DC4D9;
	border-style: solid;
	border-width: thin;
	margin-top: 16px;
	padding: 16px 16px 16px 16px;
}

@media (max-width: 615px) {
	#logoHeader {
		margin-left: 0px;
	}
	.navbar {
		clear: both;
		position: center
	}
	.navbar-item > a {
		margin-top: 0px;
	}
	.chatbot_conversation {
		margin-left: 1%;
		margin-right: 1%;
	}
}

@media (max-width: 756px) {
	#grandpaHedgehog {
		font-size: 1.5em;
		margin: 28px 8px 8px 8px;
	}
}

.m-fadeOut {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeIn {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 500ms;
}